/* Die Navbar nutzt CSS Flexbox zur Anordnung der Links, hat einen margin von -8,
 * um den margin von body auszugleichen und einen bottom-margin von 1rem,
 * um ausreichend Abstand zum Seiteninhalt zu haben. */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  margin: -8px;
  margin-bottom: 1rem;

  /* background-color: var(--primary); */
  border-bottom: 8px solid var(--primary);
}

/* Links werden, wie auf der Hauptseite des Gymnasium Balingen, in Großbuchstaben geschrieben, Schriftfarbe schwarz. */
nav a,
nav .btn {
  color: var(--black);
  text-decoration: none;

  margin: auto 1rem;

  font-size: 1.1rem;
  text-transform: uppercase;
}

/* Links werden, wenn gehovert, ähnlich wie auf der Hauptseite, grün unterstrichen. */
nav a:hover,
nav .btn:hover {
  border-bottom: 3px solid var(--link-underline);
}
